.word {
  border: 1px solid lightskyblue;
  border-radius: 10px 10px;
  box-shadow: 5px 1px 10px lightgray;
  padding: 10px 30px;
  margin-bottom: 30px;
}

.meanings {
  border: 1px solid lightskyblue;
  border-radius: 10px 10px;
  box-shadow: 5px 1px 10px lightgray;
  padding: 10px 30px;
  margin-bottom: 30px;
}
